# Local Docker Compose Mock Endpoints
BITBUCKET_API_URL=http://localhost:3000/api/v1
JENKINS_API_URL=http://localhost:8080/jenkins

# Default Mock Credentials (update if necessary after local setup)
BITBUCKET_USER=gitea_admin
BITBUCKET_AUTH_TOKEN=gitea_token
JENKINS_USER=admin
JENKINS_AUTH_TOKEN=admin_token
